* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../Img/logo_muni-opaco.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}